p {
    text-align: right;
    color: witesmoke;
}
.dashed {
    padding: 20px;
    text-align: center;
    background: rosybrown;
    border-style: dashed;
    border-radius:50%;

}
body {
    font-family: cursive;
    margin: 50;
    padding: 50;
    background-image: url(iphone.jpg);
    background-position: left top, right bottom, center;
    background-repeat: no-repeat;
    background-size: 150%, 150%, cover;
}
div,p,div,span,a,img {
    text-aling: right;
}
img {
    border-radius: 50%;
    padding: 5px;
    border:1px solid rosybrown;
    position: center;
    width: 300px;

}


